In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/Sagar/Downloads/placement.csv")

1.How big is the data?

In [4]:
df.shape

(100, 4)

2.How does the data look like?

In [6]:
df.sample(5)

    Unnamed: 0  cgpa     iq  placement
6            6   5.7  143.0          0
45          45   6.0   66.0          1
28          28   5.2   90.0          0
54          54   6.4  141.0          1
89          89   4.9  151.0          0

In [ ]:
What is the data type of cols?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

Are there any missing values?

In [2]:
df.isnull().sum()

NameError: name 'df' is not defined

How does the data look mathematically?

In [3]:
df.describe()

NameError: name 'df' is not defined

Are there duplicate values?

In [ ]:
df.duplicated().sum()

How is the correlation between cols?

In [ ]:
df.corr()['placement']